{% extends "base.html.twig" %}

{% block body %}
	<div class="admin-dashboard">
		<aside>
			<ul class="nav d-flex flex-column">
				<li class="nav-item"><a class="nav-link {{ app.request.get('_route') == 'admin_dashboard' ? 'active' : '' }}" href="{{ path("admin_dashboard") }}">
					<i class="fas fa-tachometer-alt"></i> Dashboard
					</a>
				</li>
				<li class="nav-title">Gestion</li>
				<li class="nav-item"><a class="nav-link {{ app.request.get('_route') == 'admin_users' ? 'active' : '' }}" href="{{ path("admin_users") }}">
					<i class="fas fa-users-cog"></i> Utilisateurs
					</a>
				</li>
				<li class="nav-item"><a class="nav-link {{ app.request.get('_route') == 'admin_messages' ? 'active' : '' }}" href="{{ path("admin_messages") }}">
					<i class="fas fa-envelope-open-text"></i> Messages
					</a>
				</li>
				<li class="nav-item"><a class="nav-link {{ app.request.get('_route') == 'admin_color' ? 'active' : '' }}" href="{{ path("admin_color") }}">
					<i class="fas fa-paint-brush"></i> Couleurs
					</a>
				</li>
			</ul>
		</aside>
		<div class="admin-main">
			{% block content %}{% endblock %}
		</div>
	</div>
{% endblock %}